
.divider {
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #cccccc;
  
  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
} 

.one-line {
  &:before,
  &:after {
     background: #cccccc;
  }
}

.auth-form ion-grid,
.auth-form ion-row {
  height: 100%;
  justify-content: center;
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

ion-content{
  --background : url('https://img.freepik.com/vector-premium/mapa-ruta-tesoro-pirata_23-2147626884.jpg')
}

.contenedor{
  display: grid;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.center{
  width: 100%;
  height: 346px;
  display: grid;
  align-items: center;
  background-color: rgba(255,255,255,0.8);
  padding: 1rem 2rem;
}