<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4|5|6 Form
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="auth-form">
  
  <div class="contenedor">

    <div class="center">
      <h2>Bienvenido</h2>
      
      <ion-button [routerLink]="['/auth/registration']" expand="block" color="primary">Registrarme</ion-button>
      
      <span class="divider line one-line">o</span>
      
      <span class="already">Ya eres Usuario?</span>
      
      <ion-button [routerLink]="['/auth/login']" expand="block" color="danger">iniciar sesion</ion-button>
    </div>
    </div>
 
</ion-content>