<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="contenedor imagen">
  <form [formGroup]="frmLogin" (submit)="entrar()" class="center">
    <h1 class="titulo"><strong>Iniciar Sesión</strong> </h1>
    
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" >Ingresar <ion-icon name="log-out-outline"></ion-icon></ion-button>
        <a [routerLink]="['/auth/forgot-password']" class="small-text">¡Olvide mi contraseña!</a>
      </ion-col>
    </ion-row>
  </form>
  </div>

</ion-content>