<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">TUTORIAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 20px; text-align: justify;">

    <h4 class="colorblue">
      1 - Acercate a un tesoro. Puedes usar la opción "Ir a ubicación". <ion-icon name="navigate-outline"></ion-icon>
    </h4>
    <h4 class="coloryellow">
      2 - Asegurate de esta por lo menos 50m cerca del tesoro.
    </h4>
    <h4 class="colorblue">
      3 - Selecciona la opción "Ver desafío." <ion-icon name="eye-outline"></ion-icon>
    </h4>
    <h4 class="colorblue">
      4 - Asegurate de leer bien el desafío y responde la respuesta.<ion-icon name="checkmark-outline"></ion-icon>
    </h4>
    <h4 class="coloryellow">
      5 - Recuerda que solo tienes 3 intentos en el día para responder. si los agotas tendras que esperar hasta el día siguiente. <ion-icon name="checkmark-outline"></ion-icon>
    </h4>
    <h4 class="colorblue">
      6 - Una vez completado el desafio se te asignara + puntos.
    </h4>
    <h4 class="colorindigo">
      7 - Recuerda que puedes ver tu posicion en el Ranking de puntos.<ion-icon name="trophy-outline"></ion-icon>
    </h4>
    <h4 class="colorblue">
      8 - Si deseas cambiar tu NickName puedes ir a la opción perfil. <ion-icon name="person-circle-outline"></ion-icon>
    </h4>
  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center;">Uaco - 2023</ion-title>
  </ion-toolbar>
</ion-footer>