<!-- <ion-header>
  <ion-toolbar>
    <ion-title>ranking</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="contenedor imagen">
    <p class="tituloranking" >       
       <ion-icon name="trophy-outline"></ion-icon>
       <ion-icon name="trophy-outline"></ion-icon>
        Ranking 
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-icon name="trophy-outline"></ion-icon>
        <p>

    <ion-list style="margin: 1rem;" class="lista">
    <ion-list-header color="danger">
      <ion-label></ion-label>
      <ion-label><h2>Jugador / NickName</h2></ion-label>
      <ion-label><h2>Total puntos</h2></ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of ranking " color="medium">
      <ion-icon name="person-outline"></ion-icon>
      {{item.user.user }}
      <span slot="end"> {{item.data.puntos }} </span>
    </ion-item>
  </ion-list>

<ion-button  (click)="shared()">
  Compartir Ranking
  <ion-icon name="share-social-outline"></ion-icon> </ion-button>


</div>
</ion-content>
