<ion-header>
  <ion-toolbar>
    <ion-title>acertijo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 1rem;">

    <h5>Estas ubicado en el tesoro  "{{ tesoro.data.titulo }}" </h5>
    <img [src]="tesoro.data.urlImagen" >
    <p> Responde el desafio y ganaras <strong>{{ tesoro.data.puntos }}</strong> puntos </p>
<hr>

<h5> {{ tesoro.data.acertijo }}</h5>
<hr>
<p> **Tenes 3 intentos, si los agotas no podras acceder hasta el dia de mañana</p>

<p>Ingresa respuesta y valida</p>
<ion-textarea fill="outline" placeholder="Ingresa tu respuesta aqui"  [(ngModel)]="respuesta" style="border: 1px solid gray;"></ion-textarea>
<hr>
<ion-button  (click)="Validar()" > Validar  </ion-button>

</div>
</ion-content>
