<ion-header>
  <ion-toolbar>
    <ion-title>{{ tesoro.data.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="padding: 1rem;">
    <img [src]="tesoro.data.urlImagen" width="100%">
    <p> *Completa el siguiente desafio y ganaras +{{ tesoro.data.puntos }} puntos.</p>
<hr color="success">
<h5> {{ tesoro.data.acertijo }}</h5>
<hr color="success">

<span style="color: rgb(230, 130, 0)"> *Tienes 3 intentos, si los agotas no podras acceder hasta el día de mañana.</span>

<p>Ingresa tu respuesta:</p>
<ion-textarea fill="outline" placeholder="Escribe aqui..."  [(ngModel)]="respuesta" style="border: 1px solid gray;"></ion-textarea>
<hr>
<ion-button  (click)="Validar()" color="success" expand="block"> Validar respuesta <ion-icon name="checkmark-outline"></ion-icon> </ion-button>

</div>
</ion-content>
