<div class="wraper" style="padding : 1rem " >
  
  <h1>{{data.data.titulo}}</h1>
  <hr>
  <p>{{data.data.descripcion }}</p>

  <img [src]="data.data.urlImagen">


  <div class="options" style="position: absolute;bottom: 20px; display: grid; grid-template-columns: 1fr 1fr; width: 100%;">
    <div>

      <ion-button>ir a la ubicacion</ion-button>
    </div>
    <div>
      <ion-button [disabled]="!enabled" (click)="Encontrado()" > Marcar como encontrado</ion-button>
      <br>
          <span *ngIf="!enabled">Para marcar como encontrado es necesario estar a menos de 50 metos de la ubicacion.</span>
    </div>
    
  </div>
</div>