<div class="wraper" style="padding : 1rem " >
  
  <h1 style="color: seagreen;">{{data.data.titulo}}</h1>
  <hr>
  <p>{{data.data.descripcion }}</p>

  <img [src]="data.data.urlImagen" style="width: 100vw;  object-fit: cover;">

  
  <div *ngIf="this.encontrado">
    Felicidades ya completaste la busqueda!
  </div>


  <div *ngIf="!this.encontrado" class="options" style="position: absolute;bottom: 20px; display: grid; grid-template-columns: 1fr 1fr; width: 100%;">

    <div>
      <ion-button>Ir a la ubicación <ion-icon name="navigate-outline"></ion-icon></ion-button>
    </div>
    
    <div >
      <ion-button [disabled]="!enabled" (click)="Encontrado()">Ver Desafío <ion-icon name="eye-outline"></ion-icon></ion-button>
    </div>
    
  </div>
  <small><span *ngIf="!enabled" style="color: yellow;">*Recuerda que es necesario estar por lo menos 50m cerca para ver el desafío.</span></small>
</div>