<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<div class="contenedor imagen">
  <form [formGroup]="frmUsuario" (submit)="Actualizar()" class="center">
    <h1><strong>Mis datos</strong> </h1>
  <ion-list>
    <ion-item>
      <ion-label>Nombre : </ion-label>
      <ion-input  [disabled]="true"  formControlName="name"> </ion-input> 
    </ion-item>
    <ion-item>
      <ion-label>Nick Name : </ion-label>
      <ion-input  formControlName="user"> </ion-input> 
    </ion-item>
    <ion-item [disabled]="true">
      <ion-label>Correo : </ion-label>
      <ion-input formControlName="email"> </ion-input> 
    </ion-item>
  </ion-list>
  <ion-button type="submit" color="danger" expand="block">Actualizar <ion-icon name="bookmark-outline"></ion-icon> </ion-button>
</form>
</div>


  <div style="position: absolute;
  bottom: 70px;
  /* margin: auto; */
  width: 100%;
  display: grid;
  justify-items: center;">

    <ion-button (click)="Salir()"> Cerrar Sesión <ion-icon name="log-out-outline"></ion-icon></ion-button>
  </div>
</ion-content>
